.navbar {
  @include flex-column;
  // justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  &__logo {
    height: 1.75rem;
  }
  &__search-area {
    @include flex-column;
    margin-top: 1.25rem;
  }
  &__search-form {
    @include flex-column;
    position: relative;
  }
  &__search-icon {
    position: absolute;
    left: 1rem;
    top: 1rem;
  }

  &__subcontainer {
    @include flex-row;
    justify-content: center;
  }
  &__search-input {
    height: 3rem;
    background-color: $alabaster;
    border: 0.063rem solid $mercury;
    border-radius: 0.313rem;

    margin-bottom: 0.5rem;
    padding-left: 2.5rem;
  }
  &__avi-photo {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: left center;
  }
}

@include tablet {
  .navbar {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    // padding: 0 1.5rem;
    height: 5rem;
    &__logo {
      margin-right: 10.563rem;
      margin-left: 1.5rem;
    }
    &__search-area {
      @include flex-row;
      margin-right: 1.5rem;
      margin-top: 0;
    }
    &__search-form {
      @include flex-row;
    }
    &__search-input {
      // width: 11.25rem;
      margin-right: 1.5rem;
    }
    &__avi-photo {
      margin-left: 1.5rem;
    }
  }
}

@include wide {
  .navbar {
    height: 3.5rem;
    width: 100vw;
    &__logo {
      margin-left: 10rem;
      // height: 1.5rem;
    }
    &__search-area {
      margin-right: 10rem;
    }
    &__search-input {
      width: 15.75rem;
      margin-bottom: 0;
    }
  }
}
