.description {
  @include flex-column;

  &__title {
    @include h1-header-desktop;
    color: $black;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1.5rem 0 1rem 1rem;
  }
  &__subtitle {
    @include flex-column;
    border-bottom: 0.094rem solid $mercury;
    margin: 0 1rem;
  }
  &__subtitleTopRow {
    @include flex-row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
  }
  &__subtitleChannel {
    @include h3-subheader;
    color: $black;
    margin-right: 0.5rem;
  }
  &__subtitleDate {
    @include h4-paragraph;
    color: $silver;
    align-self: flex-end;
  }
  &__subtitleBottomRow {
    @include flex-row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0 1.5rem 0;
  }
  &__subtitleIcon {
    margin-right: 0.5rem;
  }
  &__subtitleNumbers {
    @include h4-paragraph;
    color: $black;
    margin-right: 1.8rem;
  }
  &__text {
    @include h4-lists;
    font-family: "AvenirDemi";
    color: $black;
    letter-spacing: -0.019rem;
    margin: 1.5rem 1rem;
  }
  &__numberOfComments {
    @include h3-subheader;
    color: $black;
    margin-left: 1rem;
  }
}

@include tablet {
  .description {
    &__title {
      @include h1-header-desktop;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
    &__subtitle {
      @include flex-row;
      justify-content: space-between;
      align-items: baseline;
      margin-left: 1.5rem;
    }
    &__subtitleTopRow {
      margin-top: 0;
    }
    &__subtitleBottomRow {
      margin-top: 0;
    }

    &__subtitleChannel {
      @include h3-subheader;
    }
    &__subtitleIcon {
      margin-left: 1.5rem;
    }
    &__subtitleNumbers {
      margin: 0;
    }
    &__text {
      width: 31.875rem;
      font-size: 0.9rem;
      // font-family: "AvenirRegular";
      margin-left: 1.5rem;
    }
    &__numberOfComments {
      margin-left: 1.5rem;
    }
  }
}

@include desktop {
  .description {
    &__title {
      font-size: 2.5rem;
      margin-left: 0;
      margin-right: 0;
    }
    &__subtitle {
      margin-left: 0;
      margin-right: 0;
      padding-right: 2.7rem;
    }
    &__text {
      margin-left: 0;
      line-height: 1.5rem;
    }
    &__numberOfComments {
      margin-left: 0;
    }
  }
}
