.description {
  @include flex-column;

  &__title {
    @include h1-header-desktop;
    color: $black;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1.5rem 0 0 1rem;
  }
  &__subtitle {
    @include flex-column;
    border-bottom: 0.07rem solid $mercury;
    margin: 0 1rem;
  }
  &__subtitle-topRow {
    @include flex-row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
  }
  &__subtitle-channel {
    @include h3-subheader;
    color: $black;
    margin-right: 0.5rem;
  }
  &__subtitle-date {
    @include h4-paragraph;
    color: $silver;
    align-self: flex-end;
  }
  &__subtitle-bottomRow {
    @include flex-row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0 1.5rem 0;
  }
  &__subtitle-icon {
    margin-right: 0.5rem;
  }
  &__subtitle-numbers {
    @include h4-paragraph;
    color: $black;
    margin-right: 1.1rem;
  }
  &__text {
    @include h4-lists;
    font-size: 0.797rem;
    // font-family: "AvenirDemi";
    color: $black;
    letter-spacing: -0.019rem;
    margin: 1.5rem 1rem;
  }
  &__number-comments {
    @include h3-subheader;
    color: $black;
    margin-left: 1rem;
  }
}

@include tablet {
  .description {
    &__title {
      @include h1-header-desktop;
      margin: 1.5rem 1.5rem 1rem 1.5rem;
    }
    &__subtitle {
      @include flex-row;
      justify-content: space-between;
      align-items: baseline;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
    &__subtitle-topRow {
      margin-top: 0;
    }
    &__subtitle-bottomRow {
      margin-top: 0;
    }

    &__subtitle-channel {
      @include h3-subheader;
    }
    &__subtitle-icon {
      margin-left: 1.5rem;
    }
    &__subtitle-numbers {
      margin: 0;
    }
    &__text {
      width: 31.875rem;
      font-size: 0.9rem;
      // font-family: "AvenirRegular";
      margin-left: 1.5rem;
    }
    &__number-comments {
      margin-left: 1.5rem;
    }
  }
}

@include desktop {
  .description {
    margin-left: 10rem;
    margin-right: 0;
    margin-top: 1.25rem;
    &__title {
      margin-right: 0;
    }
    &__subtitle {
      margin-right: 0;
    }
    &__subtitle-bottomRow {
      margin-right: 1.5rem;
    }
  }
}

@include wide {
  .description {
    margin-right: 0;
    padding-left: 0;
    margin-left: 10rem;

    &__title {
      font-size: 2.5rem;
      padding-left: 0;
      margin-right: 0;
      margin-left: 0;
    }
    &__subtitle {
      // margin-left: 10rem;
      margin-right: 0;
      margin-left: 0;
      // padding-right: 2.7rem;
    }
    &__subtitle-bottomRow {
      margin-right: 2rem;
    }
    &__text {
      // margin-left: 10rem;
      margin-right: 0;
      margin-left: 0;
      line-height: 1.5rem;
    }
    &__number-comments {
      // margin-left: 10rem;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
