// Sizes and Breakpoints
$wide-breakpoint: 1440px;
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;

// Colors

$black: #323232;
$white: #ffffff;
$silver: #afafaf;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$instock-blue: #004892;
$instock-blue-dark: #002f5f;
$brainflix-blue: #0065ad;
$brainflix-blue-light: #0095ff;

// Transitions
$transition-900: all 900ms ease;
$transition-700: all 700ms ease;
$transition-650: all 650ms ease;
$transition-500: all 500ms ease;
